@import './normalize.css';

:root {
    --color-strong:linear-gradient(to right,#41C7AF,#54E38E);
    --color-weak:linear-gradient(to right,#6DE195,#C4E759);
    --color-text: #666;
    --color-high-text: #42bbaa;
    --color-tint: #42b983;
    --color-background: #FFFFFF;
    --font-size: 14px;
    --line-height: 1.5;
    --shadow-down:2px 2px 9px #888888;
    --van-primary-color:var(--van-primary-color);

}
.van-checkbox-group .van-checkbox__icon {
    width: 5vw !important;
}
.van-checkbox-group .van-checkbox__label {
    width: 94vw !important;

}
.van-contact-card__value {
    margin-left: 5px;
    color: white !important;
    line-height: var(--van-contact-card-value-line-height);
    font-size: 17px;
}
.van-card__desc {
    margin-top:10px !important;
}

.van-address-list__bottom{
    bottom: 62px !important;
}
.van-contact-card--add .van-contact-card__value {
    font-size: 16px;
    color: ghostwhite;
}

.van-switch--on {
    background: var(--color-weak);
}
.van-switch {
    --van-primary-color:var(--color-strong);
}

















*,*::after,*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    user-select: none;
    background: var(--color-background);
    color: var(--color-text);
    width: 100vw;

}
img {
    max-width: 100%;
    height: auto ;
}
a {
    color: var(--color-text);
    text-decoration: none;
}

.left {
    float: left;
}

.right {
    float: right;
}